.App {
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.counter {
  font-size: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.counter button {
  font-size: 200px;
}
